<cfset id = rc.id ?: ""/>
<cfoutput>
	#renderView( view="/admin/datamanager/_objectVersionHistoryTable", args={
		  objectName    = "starwars_film"
		, datasourceUrl = event.buildAdminLink( linkTo="filmManager.getHistoryForAjaxDatatables", queryString="id=#id#" )
	} )#
</cfoutput>