<cfparam name="args.data" default="" />

<cfoutput>
    <cfif args.data == "female">
        <i class="fa fa-female fa-lg"></i>
    <cfelseif args.data == "male">
        <i class="fa fa-male fa-lg"></i>
    <cfelse>
        #args.data#
    </cfif>
</cfoutput>