<cfset id = rc.id ?: ""/>
<cfoutput>
	#renderView( view="/admin/datamanager/_objectVersionHistoryTable", args={
		  objectName    = "starwars_character"
		, datasourceUrl = event.buildAdminLink( linkTo="characterManager.getHistoryForAjaxDatatables", queryString="id=#id#" )
	} )#
</cfoutput>